<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Listagem de Projetos</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
  </head>
  <body>
    <div class="container top-padding">
      <a th:href="@{/project/create}">Cadastrar projeto</a>
      <h1>Listagem de Projetos</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sigla</th>
            <th scope="col">Excluir</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="project : ${projectList}">
            <td scope="row" th:text="${project.name}"></td>
            <td scope="row" th:text="${project.symbol}"></td>
            <td>
              <a th:href="@{/project/delete/{id}(id=${project.id})}">Deletar</a>
            </td>
            <td>
              <a th:href="@{/project/edit/{id}(id=${project.id})}">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
