<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

  <th:block th:replace="~{/../fragments/head :: head('Listagem de Projetos')}"></th:block>
  <body>
    <th:block th:replace="~{/../fragments/header :: header}"></th:block>
    <div class="container top-padding">
      <a th:href="@{/project/create}">Cadastrar projeto</a>
      <h1>Listagem de Projetos</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sigla</th>
            <th scope="col">Excluir</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="project : ${projectList}">
            <td scope="row" th:text="${project.name}"></td>
            <td scope="row" th:text="${project.symbol}"></td>
            <td>
              <a th:href="@{/project/delete/{id}(id=${project.id})}">Deletar</a>
            </td>
            <td>
              <a th:href="@{/project/edit/{id}(id=${project.id})}">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <a th:href="@{/project/create}">
          <button sec:authorize="hasAuthority('Admin')" class="btn btn-primary">Cadastrar Projeto</button>
        </a>
      </div>
    </div>
  </body>
</html>
