<nav
        th:fragment="header()"
        class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark"
>
    <div class="container">
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active">
                    <a
                            class="nav-link dropdown-toggle"
                            th:href="@{/project}"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Projetos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/project}" >Listar</a>
                        <a class="dropdown-item" th:href="@{/project/create}">Cadastrar</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>