<nav
        th:fragment="header()"
        class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active">
                    <a
                            class="nav-link dropdown-toggle"
                            th:href="@{/project}"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Projetos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/project}" >Listar</a>
                        <a sec:authorize="hasAuthority('Admin')" class="dropdown-item" th:href="@{/project/create}">Cadastrar</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="btn btn-block d-lg-inline-block my-2 my-sm-0">Sair</button>
            </form>
        </div>
    </div>
</nav>